<mat-tab-group class="tab">
    <mat-tab label="Football">
        <ng-template mat-tab-label>
            <mat-icon>sports_soccer</mat-icon>
            <span>Football</span>
        </ng-template>
        <div class="tab-content">
            <app-football></app-football>
        </div>
    </mat-tab>

    <mat-tab label="Basketball">
        <ng-template mat-tab-label>
            <mat-icon>sports_basketball</mat-icon>
            <span>Basketball</span>
        </ng-template>
        <div class="tab-content">
            <h3>Basketball Content</h3>
            <p>Latest updates from the world of basketball.</p>
        </div>
    </mat-tab>

    <mat-tab label="Muay Thai">
        <ng-template mat-tab-label>
            <mat-icon>sports_mma</mat-icon>
            <span>Muay Thai</span>
        </ng-template>
        <div class="tab-content">
            <h3>Muay Thai Content</h3>
            <p>Discover the art of Muay Thai and upcoming fights.</p>
        </div>
    </mat-tab>
</mat-tab-group>